.collection {
  padding: 5rem 0;
  line-height: 1.65;
}

.collection--title {
  margin: 0 0 2rem;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--red);
}

.collection--items {
  max-width: 100%;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}

.collection--wrapper {
  padding: 0.85rem 0.85rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

/* Styles for collection images */
.collection--item_img,
.collection--item_img_hover {
  object-fit: cover;
  width: 100%;
  display: block;
}

.collection--img_container {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.collection--item_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection--item_img_hover {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.collection--item_container:hover .collection--item_img_hover {
  opacity: 1;
}
